body {
  background-color: #eee;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo {
  width: 60vw;
}

.logo > img {
  width: 100%;
  max-width: 300px;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #eee;
}

